.divider {
  background-image: url("../images/homeScreenDivider.gif");
  background-position: center;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "EBGaramond-Regular";
}
